# requirements.txt
# --- Основной фреймворк и сервер ---
fastapi==0.135.1.0
uvicorn[standard]==0.42  # ASGI сервер, с доп. зависимостями для скорости

# --- Базы данных и драйверы ---
asyncpg==0.31.0            # Асинхронный драйвер для PostgreSQL
sqlalchemy==2.0.48       # Основная ORM
psycopg2-binary==2.9.11  # PostgreSQL драйвер для Python
alembic==1.18.4          # Для миграций БД
redis==7.3.0             # Клиент для Redis
aiosqlite==0.22.1        # Для тестов БД

# --- Аутентификация и безопасность ---
python-jose[cryptography]==3.5.0  # Для работы с JWT (используем cryptography внутри)
pwdlib[argon2, bcrypt]==0.3.0      # Хеширование паролей (будем использовать Argon2 через нее)
cryptography==46.0.5        # Для E2EE шифрования (самая свежая на момент 2026)
python-multipart==0.0.22    # Для обработки форм (нужно для загрузки файлов)

# --- Фоновые задачи и уведомления ---
httpx==0.28.1               # Для HTTP запросов (например, к Firebase)
firebase-admin==7.2.0       # Для работы с Firebase (Push-уведомления)

# --- Валидация данных (Pydantic) ---
# (Придет автоматически с FastAPI, но явно укажем)
pydantic==2.12.5
pydantic-settings==2.13.1    # Для удобной работы с конфигами

# --- Логирование и мониторинг (пока минимум) ---
loguru==0.7.3               # Красивые логи (опционально, но удобно)

# --- Для тестов ---
pytest==9.0.2
pytest-asyncio==1.3.0     # Чтобы тестировать асинхронный код
pytest-cov==7.0.0           # Для оценки покрытия тестами